{% extends "templates/_sidebar.html" %}

{% block bodyContent %}

<div id="gonokaApi" v-cloak class="w-full h-full flex flex-col">
	<div class="w-full mt-5">
		<ul class="list-reset flex text-gray-700">
			<li><a href="/roadmap" class="text-blue font-bold">Roadmap</a></li>
			<li><span class="mx-2">/</span></li>
			<li><a href="/roadmap/gonoka" class="text-blue font-bold">Gonoka</a></li>
			<li><span class="mx-2">/</span></li>
			<li>API</li>
		</ul>
	</div>
	<div class="h-10 flex flex-row justify-between items-center my-5">
		<div class="flex flex-row space-x-3">
			<a href="/roadmap/add" class="h-full text-white bg-gray-700 px-6 py-2">Add</a>
			<a href="/roadmap/archive" class="h-full text-white bg-gray-700 px-6 py-2">Archive</a>
		</div>
		<div class="h-full flex flex-row items-center space-x-3">
			<div class="relative w-60 h-full group flex flex-row items-center">
				<div class="absolute top-2 right-2 border-l border-gray-300 pl-1.5 z-10">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 group-hover:text-gray-700" viewBox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
					</svg>
				</div>
				<select 
					v-model="status" 
					class="block w-full h-full appearance-none text-sm bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-3 py-2 focus:outline-none"
					:class="status == '0' ? 'text-gray-400' : 'text-gray-700'"
				>
					<option class="text-gray-400" value="0">Status</option>
					<option class="text-gray-700" v-for="st in stOption" v-text="st.label" value="st.value"></option>
				</select>
			</div>
			<div class="relative w-60 h-full group flex flex-row items-center">
				<div class="absolute top-2 right-2 border-l border-gray-300 pl-1.5 z-10">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-0.5 text-gray-200 group-hover:text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
					</svg>
				</div>
				<input id="gonokaApiDate" class="block w-full h-full appearance-none text-sm text-gray-700 bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-3 py-2 focus:outline-none" type="text" placeholder="Select Date">
			</div>
			<div class="relative h-full flex flex-row items-center bg-white group">
				<input type="text" class="h-full border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-3 py-2 text-sm focus:outline-none" placeholder="Search...">
				<button class="absolute top-2 right-1 border-l px-1">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-200 group-hover:text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
					</svg>
				</button>
			</div>
		</div>
	</div>
	<div class="w-full h-full flex flex-col justify-between mx-auto overflow-hidden">
		<div class="flex-1 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
			<table class="relative w-full whitespace-no-wrap">
				<thead class="sticky top-0 z-10">
					<tr class="font-bold text-sm text-left text-white bg-gray-700 uppercase">
						<th class="px-4 py-3"></th>
						<th class="px-4 py-3">ID</th>
						<th class="px-4 py-3">Status</th>
						<th class="px-4 py-3">Product Name</th>
						<th class="px-4 py-3">Category</th>
						<th class="px-4 py-3">Platform</th>
						<th class="px-4 py-3">Version</th>
						<th class="px-4 py-3">Dev Start Date</th>
						<th class="px-4 py-3">Dev Deadline</th>
						<th class="px-4 py-3">Release Date</th>
						<th class="px-4 py-3">Maintenance Time</th>
						<th class="px-4 py-3">Feature</th>
						<th class="px-4 py-3">Note</th>
					</tr>
				</thead>
				<tbody class="bg-white">
					<tr 
						v-for="(api, index) in gonokaApi"
						:key="api.id"
						class="text-sm text-gray-700"
						:class="{ 'bg-gray-100' : index % 2 === 0 }"
					>
						<td class="px-4 py-3 text-sm">
							<dropdown-table 
								:is-permission="permission" 
								:is-status="api.status"
								is-route="/roadmap/edit"
								@on-start="onStart(api.id)"
								@on-stop="onStop(api.id)"
								@on-suspend="onSuspend(api.id)"
								@on-archive="onArchive(api.id)"
								@on-delete="onDelete(api.id)"
								>
							</dropdown-table>
						</td>
						<td class="px-4 py-3 text-sm" v-text="index + 1"></td>
						<td class="px-4 py-3 text-sm" v-text="api.status" :class="{ 'text-gray-700' : api.status === 'Archive' || api.status === 'Ignore' || api.status === 'Suspend', 'text-green-500' : api.status === 'Progressing', 'text-red-500' : api.status === 'Stop' || api.status === 'Delete' }"></td>
						</td>
						<td class="px-4 py-3 text-sm" v-text="api.productName"></td>
						<td class="px-4 py-3 text-sm" v-text="api.category"></td>
						<td class="px-4 py-3 text-sm" v-text="api.platform"></td>
						<td class="px-4 py-3 text-sm" v-text="api.version"></td>
						<td class="px-4 py-3 text-sm" v-text="api.devStartDate"></td>
						<td class="px-4 py-3 text-sm" v-text="api.devDeadline"></td>
						<td class="px-4 py-3 text-sm" v-text="api.releaseDate"></td>
						<td class="px-4 py-3 text-sm" v-text="api.maintenanceTime"></td>
						<td class="px-4 py-3 text-sm">
							<span class="line-clamp-1" v-text="api.feature"></span>
						</td>
						<td class="px-4 py-3 text-sm">
							<span class="line-clamp-1" v-text="api.note"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="w-full flex justify-center items-center uppercase py-6.5 space-x-3">
			<span class="text-lg">1-10 of 100</span>
			<!-- Pagination -->
			<div class="flex">
				<ul class="flex flex-row justify-center items-center space-x-2">
					<li class="flex justify-center items-center">
						<button class="text-center hover:text-gray-700 focus:outline-none" aria-label="Previous">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
							</svg>
						</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center text-white bg-gray-700 focus:outline-none">1</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center focus:outline-none hover:text-white hover:bg-gray-700">2</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center focus:outline-none hover:text-white hover:bg-gray-700">3</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center focus:outline-none hover:text-white hover:bg-gray-700">4</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center focus:outline-none hover:text-white hover:bg-gray-700">5</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center focus:outline-none hover:text-white hover:bg-gray-700">6</button>
					</li>
					<li class="flex justify-center items-center">
						<button class="text-center hover:text-gray-700 focus:outline-none" aria-label="Next">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
							</svg>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div v-show="isModalDelete"
		class="fixed z-10 inset-0 overflow-y-auto"
		aria-labelledby="modal-title" role="dialog" 
		aria-modal="true"
	>
		<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
		  	<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
			<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
			<div class="inline-block align-bottom bg-white overflow-hidden transform transition-all sm:align-middle sm:max-w-md sm:w-full pt-8 pb-11 px-9">
				<div class="w-full flex flex-col justify-center items-center">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" class="w-25 h-25 text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
						</svg>
					</div>
					<h3 class="text-xl mt-2">Do you really want to delete this record?</h3>
				</div>
				<div class="flex flex-row justify-between mt-10">
					<button type="button" class="font-medium text-xl text-white select-none border bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 px-16 py-3.5">
						Yes
					</button>
					<button @click="isModalDelete = false" type="button" class="font-medium text-xl text-gray-700 select-none border bg-white hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 px-16 py-3.5">
						No
					</button>
				</div>
			</div>
		</div>
	</div>
	<div v-show="isModalStop"
		class="fixed z-10 inset-0 overflow-y-auto"
		aria-labelledby="modal-title" role="dialog" 
		aria-modal="true"
	>
		<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
		  	<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
			<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
			<div class="inline-block align-bottom bg-white overflow-hidden transform transition-all sm:align-middle sm:max-w-md sm:w-full pt-8 pb-11 px-9">
				<div class="w-full flex flex-col justify-center items-center">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" class="w-25 h-25 text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
						</svg>
					</div>
					<h3 class="text-xl mt-2">Do you really want to stop this service?</h3>
				</div>
				<div class="flex flex-row justify-between mt-10">
					<button type="button" class="font-medium text-xl text-white select-none border bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 px-16 py-3.5">
						Yes
					</button>
					<button @click="isModalStop = false" type="button" class="font-medium text-xl text-gray-700 select-none border bg-white hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 px-16 py-3.5">
						No
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}