{% extends "templates/_sidebar.html" %}

{% block bodyContent %}

<div id="testEdit" v-cloak class="w-full max-w-4xl bg-white mx-auto p-8 my-6.5">
	<div class="flex flex-row items-center">
		<button @click="onBack" class="focus:outline-none">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
			</svg>
		</button>
		<span class="font-bold text-3xl text-gray-700 ml-6.5">Edit Project Testing</span>
	</div>
	<div class="flex flex-col px-12 pt-10 space-y-6.5">
		<div v-if="permission === 'member'" class="space-y-6.5">
			<div class="flex flex-row space-x-12.5">
				<div class="w-1/2">
					<label for="byLink" class="block text-gray-700">By Link</label>
					<input 
						type="text" 
						v-model="byLink"
						class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
						:class="isBlVal ? 'border-red-500' : ''"
						placeholder="By Link"
					>
					<span class="text-xs text-red-500" v-text='errMessageBl'></span>
				</div>
				<div class="w-1/2">
					<label for="formLink" class="block text-gray-700">Form Link</label>
					<input 
						type="text" 
						v-model="formLink"
						class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
						:class="isFlVal ? 'border-red-500' : ''"
						placeholder="Form Link"
					>
					<span class="text-xs text-red-500" v-text='errMessageFl'></span>
				</div>
			</div>
			<div class="flex flex-row space-x-12.5">
				<div class="w-1/2">
					<label for="" class="block text-gray-700">Release Date</label>
					<div class="w-full relative">
						<div class="absolute top-5.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
						</div>
						<input 
							id="releaseDate"
							type="text" 
							v-model="releaseDate"
							class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isReVal ? 'border-red-500' : ''"
							placeholder="Release Date"
						>
					</div>
					<span class="text-xs text-red-500" v-text='errMessageRe'></span>
				</div>
				<div class="w-1/2">
					<label for="platform" class="block text-gray-700">Platform</label>
					<div class="relative">
						<div class="absolute top-2.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 1024 1024" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M256 384l256 256 256-256z"/>
							</svg>
						</div>
						<select 
							v-model="platform" 
							class="mt-2.5 block w-full appearance-none text-sm bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isPlVal ? 'border-red-500' : '', platform == '0' ? 'text-gray-400' : 'text-gray-700'"
						>
							<option class="text-gray-400" value="0">Please select project</option>
							<option class="text-gray-700" v-for="pl in plOption" v-text="pl.label" value="pl.value"></option>
						</select>
					</div>
					<span class="text-xs text-red-500" v-text='errMessagePl'></span>
				</div>
			</div>
			<div class="flex flex-row space-x-12.5">
				<div class="w-1/2">
					<label for="" class="block text-gray-700">Start Test Date</label>
					<div class="relative">
						<div class="absolute top-5.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
						</div>
						<input 
							id="startTestDate"
							type="text" 
							v-model="startTestDate"
							class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isStVal ? 'border-red-500' : ''"
							placeholder="Release Date"
						>
					</div>
					<span class="text-xs text-red-500" v-text='errMessageSt'></span>
				</div>
				<div class="w-1/2">
					<label for="" class="block text-gray-700">Finish Test Date</label>
					<div class="relative">
						<div class="absolute top-5.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
						</div>
						<input 
							id="finishTestDate"
							type="text" 
							v-model="finishTestDate"
							class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isFiVal ? 'border-red-500' : ''"
							placeholder="Finish Date"
						>
					</div>
					<span class="text-xs text-red-500" v-text='errMessageFi'></span>
				</div>
			</div>
			<div class="flex flex-row space-x-12.5">
				<div class="w-1/2">
					<label for="" class="block text-gray-700">Staging Date</label>
					<div class="relative">
						<div class="absolute top-5.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
						</div>
						<input 
							id="stagingDate"
							type="text" 
							v-model="stagingDate"
							class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isStDVal ? 'border-red-500' : ''"
							placeholder="Staging Date"
						>
					</div>
					<span class="text-xs text-red-500" v-text='errMessageStD'></span>
				</div>
				<div class="w-1/2">
					<label for="" class="block text-gray-700">Product Date</label>
					<div class="relative">
						<div class="absolute top-5.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
						</div>
						<input 
							id="productDate"
							type="text" 
							v-model="productDate"
							class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isPrDVal ? 'border-red-500' : ''"
							placeholder="Product Date"
						>
					</div>
					<span class="text-xs text-red-500" v-text='errMessagePrD'></span>
				</div>
			</div>
			<div class="w-full">
				<label for="report" class="block text-gray-700">Report</label>
				<div class="relative w-full">
					<textarea 
						v-model="report" 
						class="mt-2.5 w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 resize-none outline-none p-3" 
						:class="isRePVal ? 'border-red-500' : ''"
						cols="30" 
						rows="5" 
						maxlength="100"
						placeholder="Write your report here"></textarea>
					<span v-text="report.length + '/100'" class="absolute bottom-3 right-3 text-xs-sm text-gray-300"></span>
				</div>
				<span class="text-xs text-red-500" v-text='errMessageReP'></span>
			</div>
		</div>
		<div v-else-if="permission === 'supervisor' || permission === 'manager'" class="space-y-6.5">
			<div class="flex flex-row space-x-12.5">
				<div class="w-1/2">
					<label for="version" class="block text-gray-700">Version</label>
					<input 
						type="text" 
						v-model="version"
						class="mt-2.5 block w-full text-sm border px-4 py-3 border-gray-200 hover:border-gray-700 focus:border-gray-700 focus:outline-none"
						:class="isVeVal ? 'border-red-500' : ''"
						placeholder="Version"
					>
					<span class="text-xs text-red-500" v-text='errMessageVe'></span>
				</div>
				<div class="w-1/2">
					<label for="projectName" class="block text-gray-700">Project Name</label>
					<div class="relative">
						<div class="absolute top-2.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 1024 1024" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M256 384l256 256 256-256z"/>
							</svg>
						</div>
						<select 
							v-model="projectName" 
							class="mt-2.5 block w-full appearance-none text-sm bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class=" isPrVal ? 'border-red-500' : '', projectName == '0' ? 'text-gray-400' : 'text-gray-700' "
						>
							<option class="text-gray-400" value="0">Please select project</option>
							<option class="text-gray-700" v-for="pr in prOption" v-text="pr.label" value="pr.value"></option>
						</select>
					</div>
					<span class="text-xs text-red-500" v-text='errMessagePr'></span>
				</div>
			</div>
			<div class="flex flex-row space-x-12.5">
				<div class="w-1/2">
					<label for="improveTest" class="block text-gray-700">Improve Test</label>
					<Multiselect
						v-model="improveTest"
						class="border-gray-200 hover:border-gray-700 focus:border-gray-700"
						:class="isImTVal ? 'border-red-500' : ''"
						placeholder="Improve Test"
						:options="imTOption"
						mode="tags"
						:searchable="true"
						:createTag="true"
						:caret="true"
					>
					</Multiselect>
					<span class="text-xs text-red-500" v-text='errMessageImT'></span>
				</div>
				<div class="w-1/2">
					<label for="improvePublic" class="block text-gray-700">Improve Public</label>
					<Multiselect
						v-model="improvePublic"
						class="border-gray-200 hover:border-gray-700 focus:border-gray-700"
						:class="isImPVal ? 'border-red-500' : ''"
						placeholder="Improve Public"
						:options="imPOption"
						mode="tags"
						:searchable="true"
						:createTag="true"
						:caret="true"
					>
					</Multiselect>
					<span class="text-xs text-red-500" v-text='errMessageImP'></span>
				</div>
			</div>
			<div class="flex flex-row space-x-12.5">
				<div class="w-1/2">
					<label for="byLink" class="block text-gray-700">By Link</label>
					<input 
						type="text" 
						v-model="byLink"
						class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
						:class="isBlVal ? 'border-red-500' : ''"
						placeholder="By Link"
					>
					<span class="text-xs text-red-500" v-text='errMessageBl'></span>
				</div>
				<div class="w-1/2">
					<label for="formLink" class="block text-gray-700">Form Link</label>
					<input 
						type="text" 
						v-model="formLink"
						class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
						:class="isFlVal ? 'border-red-500' : ''"
						placeholder="Form Link"
					>
					<span class="text-xs text-red-500" v-text='errMessageFl'></span>
				</div>
			</div>
			<div class="flex flex-row space-x-12.5">
				<div class="w-1/2">
					<label for="category" class="block text-gray-700">Category</label>
					<div class="relative">
						<div class="absolute top-2.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 1024 1024" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M256 384l256 256 256-256z"/>
							</svg>
						</div>
						<select 
							v-model="category" 
							class="mt-2.5 block w-full appearance-none text-sm bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isCaVal ? 'border-red-500' : '', category == '0' ? 'text-gray-400' : 'text-gray-700'"
						>
							<option class="text-gray-400" value="0">Please select category</option>
							<option class="text-gray-700" v-for="ca in caOption" v-text="ca.label" value="ca.value"></option>
						</select>
					</div>
					<span class="text-xs text-red-500" v-text='errMessagePl'></span>
				</div>
				<div class="w-1/2">
					<label for="platform" class="block text-gray-700">Platform</label>
					<div class="relative">
						<div class="absolute top-2.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 1024 1024" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M256 384l256 256 256-256z"/>
							</svg>
						</div>
						<select 
							v-model="platform" 
							class="mt-2.5 block w-full appearance-none text-sm bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isPlVal ? 'border-red-500' : '', platform == '0' ? 'text-gray-400' : 'text-gray-700'"
						>
							<option class="text-gray-400" value="0">Please select project</option>
							<option class="text-gray-700" v-for="pl in plOption" v-text="pl.label" value="pl.value"></option>
						</select>
					</div>
					<span class="text-xs text-red-500" v-text='errMessagePl'></span>
				</div>
			</div>
			<div class="flex flex-row space-x-12.5">
				<div class="w-1/2">
					<label for="" class="block text-gray-700">Start Test Date</label>
					<div class="relative">
						<div class="absolute top-5.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
						</div>
						<input 
							id="startTestDate"
							type="text" 
							v-model="startTestDate"
							class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isStVal ? 'border-red-500' : ''"
							placeholder="Release Date"
						>
					</div>
					<span class="text-xs text-red-500" v-text='errMessageSt'></span>
				</div>
				<div class="w-1/2">
					<label for="" class="block text-gray-700">Finish Test Date</label>
					<div class="relative">
						<div class="absolute top-5.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
						</div>
						<input 
							id="finishTestDate"
							type="text" 
							v-model="finishTestDate"
							class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isFiVal ? 'border-red-500' : ''"
							placeholder="Finish Date"
						>
					</div>
					<span class="text-xs text-red-500" v-text='errMessageFi'></span>
				</div>
			</div>
			<div class="flex flex-row space-x-12.5">
				<div class="w-1/2">
					<label for="" class="block text-gray-700">Staging Date</label>
					<div class="relative">
						<div class="absolute top-5.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
						</div>
						<input 
							id="stagingDate"
							type="text" 
							v-model="stagingDate"
							class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isStDVal ? 'border-red-500' : ''"
							placeholder="Staging Date"
						>
					</div>
					<span class="text-xs text-red-500" v-text='errMessageStD'></span>
				</div>
				<div class="w-1/2">
					<label for="" class="block text-gray-700">Product Date</label>
					<div class="relative">
						<div class="absolute top-5.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
						</div>
						<input 
							id="productDate"
							type="text" 
							v-model="productDate"
							class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isPrDVal ? 'border-red-500' : ''"
							placeholder="Product Date"
						>
					</div>
					<span class="text-xs text-red-500" v-text='errMessagePrD'></span>
				</div>
			</div>
			<div class="flex flex-row space-x-12.5">
				<div class="w-1/2">
					<label for="" class="block text-gray-700">Release Date</label>
					<div class="w-full relative">
						<div class="absolute top-5.5 right-2 border-l border-gray-300 pl-1.5 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
						</div>
						<input 
							id="releaseDate"
							type="text" 
							v-model="releaseDate"
							class="mt-2.5 block w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
							:class="isReVal ? 'border-red-500' : ''"
							placeholder="Release Date"
						>
					</div>
					<span class="text-xs text-red-500" v-text='errMessageRe'></span>
				</div>
				<div class="w-1/2">

				</div>
			</div>
			<div class="w-full">
				<label for="report" class="block text-gray-700">Product Date</label>
				<div class="relative w-full">
					<textarea 
						v-model="report" 
						class="mt-2.5 w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 resize-none outline-none p-3" 
						:class="isRePVal ? 'border-red-500' : ''"
						cols="30" 
						rows="5" 
						maxlength="100"
						placeholder="Write your report here"></textarea>
					<span v-text="report.length + '/100'" class="absolute bottom-3 right-3 text-xs-sm text-gray-300"></span>
				</div>
				<span class="text-xs text-red-500" v-text='errMessageReP'></span>
			</div>
		</div>
	</div>
	<div class="w-full flex justify-end px-12 mt-15">
		<button @click="onSubmit" class="font-medium text-lg uppercase text-white bg-gray-700 py-3.5 px-24">Update</button>
	</div>
</div>

{% endblock %}