{% extends "templates/_sidebar.html" %}

{% block bodyContent %}

<div id="accountEdit" v-cloak class="w-full max-w-4xl bg-white mx-auto p-8 my-6.5">
	<div class="flex flex-row items-center">
		<a href="/acc/account" class="no-underline">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
			</svg>
		</a>
		<span class="font-bold text-3xl text-gray-700 ml-6.5">Edit Account</span>
	</div>
	<div class="flex flex-col px-12 pt-10 space-y-6.5">
		<div class="flex flex-row space-x-12.5">
			<div class="w-1/2">
				<label class="block text-gray-700">Username</label>
				<input 
					v-model="username"
					:class="isUsVal ? 'border-red-500' : ''"
					class="mt-2.5 appearance-none block w-full text-sm text-gray-700 border border-gray-200 hover:border-gray-700 focus:border-gray-700 focus:outline-none py-3 px-4" 
					type="text" placeholder="Username"
				> 
				<span class="text-xs text-red-500" v-text='errMessageUs'></span>
			</div>
			<div class="w-1/2">
				<label class="block text-gray-700">Application</label>
				<div class="relative">
					<div class="absolute top-2.5 right-2 border-l border-gray-300 pl-1.5 z-10">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 1024 1024" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M256 384l256 256 256-256z"/>
						</svg>
					</div>
					<select 
						v-model="application" 
						class="mt-2.5 block w-full appearance-none text-sm bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
						:class="isApVal ? 'border-red-500' : '', application == '0' ? 'text-gray-400' : 'text-gray-700'"
					>
						<option class="text-gray-400" value="0">Select...</option>
						<option class="text-gray-700" v-for="ap in apOption" v-text="ap.label" value="ap.value"></option>
					</select>
					<span class="text-xs text-red-500" v-text='errMessageAp'></span>
				</div>
			</div>
		</div>
		<div class="flex flex-row space-x-12.5">
			<div class="w-1/2">
				<label class="block text-gray-700">Email</label>
				<input
					v-model="email"
					:class="isEmVal ? 'border-red-500' : ''"
					class="mt-2.5 appearance-none block w-full text-sm text-gray-700 border border-gray-200 hover:border-gray-700 focus:border-gray-700 focus:outline-none py-3 px-4 mb-3"
					type="text"
					placeholder="Example@email.com"
				> 
				<span class="text-xs text-red-500" v-text='errMessageEm'></span> 
			</div>
			<div class="w-1/2">
				<label class="block text-gray-700">Phone number</label>
				<input
					v-model="phonenumber"
					:class="isPhVal ? 'border-red-500' : ''"
					class="mt-2.5 appearance-none block w-full text-sm text-gray-700 border border-gray-200 hover:border-gray-700 focus:border-gray-700 focus:outline-none py-3 px-4 mb-3"
					type="text"
					placeholder="Phone number"
				>  
				<span class="text-xs text-red-500" v-text='errMessagePh'></span>
			</div>
		</div>
		<div class="flex flex-row space-x-12.5">
			<div class="w-1/2">
				<label class="block text-gray-700">Link</label>
				<input
					v-model="link"
					:class="isLiVal ? 'border-red-500' : ''"
					class="mt-2.5 appearance-none block w-full text-sm text-gray-700 border border-gray-200 hover:border-gray-700 focus:border-gray-700 focus:outline-none py-3 px-4 mb-3"
					type="text"
					placeholder="Example.com"
				>  
				<span class="text-xs text-red-500" v-text='errMessageLi'></span>
			</div>
			<div class="w-1/2">
				<label class="block text-gray-700">Permission</label>
				<div class="relative">
					<div class="absolute top-2.5 right-2 border-l border-gray-300 pl-1.5 z-10">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 1024 1024" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M256 384l256 256 256-256z"/>
						</svg>
					</div>
					<select 
						v-model="permission" 
						class="mt-2.5 block w-full appearance-none text-sm bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
						:class="isPeVal ? 'border-red-500' : '', permission == '0' ? 'text-gray-400' : 'text-gray-700'"
					>
						<option class="text-gray-400" value="0">Select...</option>
						<option class="text-gray-700" v-for="ap in apOption" v-text="ap.label" value="ap.value"></option>
					</select>
					<span class="text-xs text-red-500" v-text='errMessagePe'></span>
				</div>
			</div>
		</div>
		<div class="flex flex-row space-x-12.5">
			<div class="w-1/2">
				<label class="block text-gray-700">Password</label>
				<input
					v-model="password"
					:class="isPaVal ? 'border-red-500' : ''"
					class="mt-2.5 appearance-none block w-full text-sm text-gray-700 border border-gray-200 hover:border-gray-700 focus:border-gray-700 focus:outline-none py-3 px-4"
					type="password"
					placeholder="Password"
				>
				<span class="text-xs text-red-500" v-text='errMessagePa'></span>
			</div>
			<div class="w-1/2">
				<label class="block text-gray-700">Environment</label>
				<div class="relative">
					<div class="absolute top-2.5 right-2 border-l border-gray-300 pl-1.5 z-10">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 1024 1024" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M256 384l256 256 256-256z"/>
						</svg>
					</div>
					<select 
						v-model="environment" 
						class="mt-2.5 block w-full appearance-none text-sm bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-4 py-3 focus:outline-none"
						:class="isEnVal ? 'border-red-500' : '', environment == '0' ? 'text-gray-400' : 'text-gray-700'"
					>
						<option class="text-gray-400" value="0">Select...</option>
						<option class="text-gray-700" v-for="en in enOption" v-text="en.label" value="en.value"></option>
					</select>
					<span class="text-xs text-red-500" v-text='errMessageEn'></span>
				</div>
			</div>
		</div>
		<div class="w-full">
			<label for="note" class="block text-gray-700">Note</label>
			<div class="relative w-full">
				<textarea 
					v-model="note" 
					class="mt-2.5 w-full text-sm border border-gray-200 hover:border-gray-700 focus:border-gray-700 resize-none outline-none p-3" 
					:class="isNoVal ? 'border-red-500' : ''"
					cols="30" 
					rows="5" 
					maxlength="100"
					placeholder="Write your note here"></textarea>
				<span v-text="note.length + '/100'" class="absolute bottom-3 right-3 text-xs-sm text-gray-300"></span>
			</div>
			<span class="text-xs text-red-500" v-text='errMessageNo'></span>
		</div>
		<div class="w-full flex justify-end space-x-5">
			<button class="w-24 h-10 bg-white text-gray-700 border border-gray-700 hover:text-white hover:bg-gray-700 focus:outline-none">
				<a class="px-5 py-2 text-sm" href="/acc/account">Cancel</a>
			</button>
			<button @click="onSubmit" class="w-24 h-10 px-5 py-2 text-sm text-white uppercase bg-gray-700 focus:outline-none">
				Save
			</button>
		</div>
	</div>
</div>

{% endblock %}