{% extends "templates/_sidebar.html" %}

{% block bodyContent %}

<div class="w-full h-full flex flex-col">
	<div class="w-full h-10 mt-5">
		<ol class="list-reset flex text-grey-dark">
			<li><a href="/" class="text-blue font-bold">Home</a></li>
			<li><span class="mx-2">/</span></li>
			<li><a href="/account" class="text-blue font-bold">Account</a></li>
			<li><span class="mx-2">/</span></li>
			<li>Change Password</li>
		  </ol>
	</div>
	<div id="accountChangePw" class="w-full mx-auto overflow-hidden xl:w-3/4">
		<div class="bg-white flex flex-col p-5 space-y-5">
			<div class="w-full flex flex-row space-x-5">
				<div class="w-1/2">
					<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Current Password</label>
					<input 
						v-model="currentPassword"
						:class="isCurrentPasswordVal ? 'border-red-500' : ''"
						class="appearance-none block w-full bg-grey-lighter text-grey-darker border py-3 px-4"
						type="password"
						placeholder="current password">  
				</div>
				<div class="w-1/2">
					<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">New Password</label>
					<input
						v-model="newPassword"
						:class="isNewPasswordVal ? 'border-red-500' : ''"
						class="appearance-none block w-full bg-grey-lighter text-grey-darker border py-3 px-4"
						type="password"
						placeholder="new password">  
				</div>
			</div>
			<div class="w-full flex justify-end space-x-5">
				<button class="w-24 h-10 text-sm bg-white text-gray-700 border border-gray-700 hover:text-white hover:bg-gray-700 focus:outline-none">
					<a class="px-5 py-2" href="/account">Cancel</a>
				</button>
				<button @click="onSubmit" class="w-24 h-10 px-5 py-2 text-sm text-white uppercase bg-gray-700 focus:outline-none">
					Save
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}