{% extends 'templates/_baseLayout.html' %}

{% block wrapper %}
<div class="w-screen h-screen flex flex-row">
    <div class="w-1/2 hidden lg:block">
        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1605979257913-1704eb7b6246?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
    </div>
    <div class="bg-white w-full sm:w-3/4 lg:w-1/2 m-auto px-5">
        <div class="max-w-md xl:max-w-lg h-20 mx-auto">
            <h2 class="text-2xl text-black">New Password</h2>
            <p>Input new password</p>
        </div>
        <div class="max-w-md xl:max-w-lg h-48 mx-auto">
            <input type='password' placeholder="new password"
            class="w-full mb-3 px-4 py-3 border text-gray-700 focus:outline-none focus:border-gray-700" />
            <button class="w-full font-bold text-xl tracking-wider bg-gray-700 text-white py-3">Save</button>
        </div>
    </div>
</div>
{% endblock %}