{% macro sidebar(params) %}

{% if params.active_module is defined -%}
{%- set activeModule = params.active_module -%}
{%- else -%}
{%- set activeModule = ['', ''] -%}
{%- endif %}

{% if params.base_module == 'home' -%}

{%- set sideBarModules = [
    {
        'module'        : 'dashboard'
        , 'module_text' : 'Dashboard'
        , 'icon'        : 'fas fa-tachometer-alt-slow'
        , 'href'        : '/'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    },
    {
        'module'        : 'account'
        , 'module_text' : 'Account'
        , 'icon'        : 'fas fa-user-circle'
        , 'href'        : '/acc/account'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    },
    {
        'module'        : 'document'
        , 'module_text' : 'Document'
        , 'icon'        : 'fas fa-files-medical'
        , 'href'        : '/acc/document'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    },
    {
        'module'        : 'google'
        , 'module_text' : 'Google'
        , 'icon'        : 'fab fa-google'
        , 'href'        : '/acc/google'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    }
] -%}

{%- elif params.base_module == 'attendance' -%}

{%- set sideBarModules = [
    {
        'module'        : 'checkinandout'
        , 'module_text' : 'Check In & Out'
        , 'icon'        : 'fas fa-badge-check'
        , 'href'        : '/attendance/checkinandout'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    },
    {
        'module'        : 'leaverequest'
        , 'module_text' : 'Leave Request'
        , 'icon'        : 'fas fa-clipboard-list'
        , 'href'        : '/attendance/leaverequest'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    },
    {
        'module'        : 'publicholiday'
        , 'module_text' : 'Public Holiday'
        , 'icon'        : 'fas fa-suitcase'
        , 'href'        : '/attendance/publicholiday'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    },
    {
        'module'        : 'availableday'
        , 'module_text' : 'Available Day'
        , 'icon'        : 'fas fa-calendar-alt'
        , 'href'        : '/attendance/availableday'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    },
    {
        'module'        : 'overtimeday'
        , 'module_text' : 'Overtime Day'
        , 'icon'        : 'fas fa-hourglass-half'
        , 'href'        : '/attendance/overtimeday'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    }
] -%}

{%- elif params.base_module == 'company' -%}

{%- set sideBarModules = [
    {
        'module'        : 'users'
        , 'module_text' : 'Users'
        , 'icon'        : 'fas fa-user'
        , 'href'        : '/company/users'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    },
    {
        'module'        : 'department'
        , 'module_text' : 'Department'
        , 'icon'        : 'fas fa-users'
        , 'href'        : '/company/department'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    },
    {
        'module'        : 'roles'
        , 'module_text' : 'Roles'
        , 'icon'        : 'fas fa-clipboard-list'
        , 'href'        : '/company/roles'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    },
    {
        'module'        : 'company'
        , 'module_text' : 'Company'
        , 'icon'        : 'fas fa-clipboard-list'
        , 'href'        : '/company/company'
        , 'collapsible' : False
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : []
    },
] -%}

{%- elif params.base_module == 'test' -%}

{%- set sideBarModules = [
    {
        'module'        : 'gonoka'
        , 'module_text' : 'Gonoka'
        , 'icon'        : 'fas fa-badge-check'
        , 'href'        : '/test/gonoka'
        , 'collapsible' : true
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : [
            {
                'sub_module' : 'ios'
                , 'sub_module_text' : 'IOS'
                , 'sub_module_href' : '/test/gonoka/ios'
            },
            {
                'sub_module' : 'android'
                ,'sub_module_text'  : 'Android'
                , 'sub_module_href' : '/test/gonoka/android'
            },
            {
                'sub_module' : 'web'
                ,'sub_module_text'  : 'Web'
                , 'sub_module_href' : '/test/gonoka/web'
            },
            {
                'sub_module' : 'api'
                ,'sub_module_text'  : 'API'
                , 'sub_module_href' : '/test/gonoka/api'
            },
        ]
    },
    {
        'module'        : 'cotafer'
        , 'module_text' : 'Cotafer'
        , 'icon'        : 'fas fa-clipboard-list'
        , 'href'        : '/test/cotafer'
        , 'collapsible' : True
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : [
            {
                'sub_module' : 'ios'
                , 'sub_module_text' : 'IOS'
                , 'sub_module_href' : '/test/cotafer/ios'
            },
            {
                'sub_module' : 'android'
                ,'sub_module_text'  : 'Android'
                , 'sub_module_href' : '/test/cotafer/android'
            },
            {
                'sub_module' : 'web'
                ,'sub_module_text'  : 'Web'
                , 'sub_module_href' : '/test/cotafer/web'
            },
            {
                'sub_module' : 'api'
                ,'sub_module_text'  : 'API'
                , 'sub_module_href' : '/test/cotafer/api'
            },
        ]
    },
] -%}

{%- elif params.base_module == 'live' -%}

{%- set sideBarModules = [
    {
        'module'        : 'gonoka'
        , 'module_text' : 'Gonoka'
        , 'icon'        : 'fas fa-badge-check'
        , 'href'        : '/live/gonoka'
        , 'collapsible' : true
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : [
            {
                'sub_module' : 'ios'
                , 'sub_module_text' : 'IOS'
                , 'sub_module_href' : '/live/gonoka/ios'
            },
            {
                'sub_module' : 'android'
                ,'sub_module_text'  : 'Android'
                , 'sub_module_href' : '/live/gonoka/android'
            },
            {
                'sub_module' : 'web'
                ,'sub_module_text'  : 'Web'
                , 'sub_module_href' : '/live/gonoka/web'
            },
            {
                'sub_module' : 'api'
                ,'sub_module_text'  : 'API'
                , 'sub_module_href' : '/live/gonoka/api'
            },
        ]
    },
    {
        'module'        : 'cotafer'
        , 'module_text' : 'Cotafer'
        , 'icon'        : 'fas fa-clipboard-list'
        , 'href'        : '/live/cotafer'
        , 'collapsible' : True
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : [
            {
                'sub_module' : 'ios'
                , 'sub_module_text' : 'IOS'
                , 'sub_module_href' : '/live/cotafer/ios'
            },
            {
                'sub_module' : 'android'
                ,'sub_module_text'  : 'Android'
                , 'sub_module_href' : '/live/cotafer/android'
            },
            {
                'sub_module' : 'web'
                ,'sub_module_text'  : 'Web'
                , 'sub_module_href' : '/live/cotafer/web'
            },
            {
                'sub_module' : 'api'
                ,'sub_module_text'  : 'API'
                , 'sub_module_href' : '/live/cotafer/api'
            },
        ]
    },
] -%}

{%- elif params.base_module == 'roadmap' -%}

{%- set sideBarModules = [
    {
        'module'        : 'gonoka'
        , 'module_text' : 'Gonoka'
        , 'icon'        : 'fas fa-badge-check'
        , 'href'        : '/roadmap/gonoka'
        , 'collapsible' : true
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : [
            {
                'sub_module' : 'ios'
                , 'sub_module_text' : 'IOS'
                , 'sub_module_href' : '/roadmap/gonoka/ios'
            },
            {
                'sub_module' : 'android'
                ,'sub_module_text'  : 'Android'
                , 'sub_module_href' : '/roadmap/gonoka/android'
            },
            {
                'sub_module' : 'web'
                ,'sub_module_text'  : 'Web'
                , 'sub_module_href' : '/roadmap/gonoka/web'
            },
            {
                'sub_module' : 'api'
                ,'sub_module_text'  : 'API'
                , 'sub_module_href' : '/roadmap/gonoka/api'
            },
        ]
    },
    {
        'module'        : 'cotafer'
        , 'module_text' : 'Cotafer'
        , 'icon'        : 'fas fa-clipboard-list'
        , 'href'        : '/roadmap/cotafer'
        , 'collapsible' : True
        , 'data_parent' : '#accordionSidebar'
        , 'sub_module'  : [
            {
                'sub_module' : 'ios'
                , 'sub_module_text' : 'IOS'
                , 'sub_module_href' : '/roadmap/cotafer/ios'
            },
            {
                'sub_module' : 'android'
                ,'sub_module_text'  : 'Android'
                , 'sub_module_href' : '/roadmap/cotafer/android'
            },
            {
                'sub_module' : 'web'
                ,'sub_module_text'  : 'Web'
                , 'sub_module_href' : '/roadmap/cotafer/web'
            },
            {
                'sub_module' : 'api'
                ,'sub_module_text'  : 'API'
                , 'sub_module_href' : '/roadmap/cotafer/api'
            },
        ]
    },
] -%}
{%- endif -%}

<aside id="sidebar" class="w-full max-w-70 bg-white hidden md:block lg:block">
    <ul class="list-reset flex flex-col" x-data="{ activeModule: {{ activeModule }} }">
        {%- for module in sideBarModules -%}
        {%- if module.collapsible == False -%}
        <li class="group">
            <a href="{{ module.href }}" class="text-base no-underline py-4 px-5 flex justify-between items-center select-none {{ 'bg-gray-700 text-white' if activeModule[0] == module.module else 'bg-white text-gray-700 hover:bg-gray-700 hover:text-white' }}">
                <div class="flex flex-row items-center space-x-3 group">
                    <i class="{{ module.icon }} text-lg {{ 'text-white' if activeModule[0] == module.module else 'text-gray-700 group-hover:text-white' }}"></i>
                    <span>{{ module.module_text }}</span>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 {{ 'text-white' if activeModule[0] == module.module else 'text-gray-700 group-hover:text-white' }}" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M9 5l7 7-7 7" />
                </svg>
            </a>
        </li>
        {%- else -%}
        <li>
            <a href="{{ module.href }}" class="group text-base no-underline py-4 px-5 flex justify-between items-center select-none {{ 'bg-gray-700 text-white' if activeModule[0] == module.module else 'bg-white text-gray-700 hover:bg-gray-700 hover:text-white' }}">
                <div class="flex flex-row items-center space-x-3 group">
                    <i class="{{ module.icon }} text-lg {{ 'text-white' if activeModule[0] == module.module else 'text-gray-700 group-hover:text-white' }}"></i>
                    <span>{{ module.module_text }}</span>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 {{ 'text-white' if activeModule[0] == module.module else 'text-gray-700 group-hover:text-white' }}" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M9 5l7 7-7 7" />
                </svg>
            </a>
            <div {{ '' if activeModule[0]==module.module else 'x-cloak' }}
                class="{{ 'max-h-full' if activeModule[0] == module.module else 'max-h-0' }} relative text-base overflow-hidden duration-300 ease-out w-full flex flex-col"
                x-ref="container{{ module.module }}"
                x-bind:style="activeModule[0] === '{{ module.module }}' ? 'max-height: ' + $refs.container{{ module.module }}.scrollHeight + 'px' : ''">
                <div class="bg-white flex flex-col">
                    {% for subModule in module.sub_module -%}
                    <a class="relative items-center py-2 {{ 'text-white bg-gray-500' if activeModule[1] == subModule.sub_module and activeModule[0] == module.module else 'text-gray-700 bg-white hover:bg-gray-500 hover:text-white' }}"
                        href="{{ subModule.sub_module_href}}">
                        <span class="ml-10">{{ subModule.sub_module_text }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </li>
        {%- endif -%}
        {%- endfor -%}
    </ul>
</aside>

{% endmacro %}

{% macro header(params) %}
<header class="bg-gray-700 shadow-md select-none">
    <div class="h-15 flex justify-between items-center px-5 py-1.5">
        <div class="flex flex-row">
            <div class="min-w-65 flex flex-row items-center space-x-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" onclick="sidebarToggle()" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <a href="/"><img class="w-26 h-auto" src="/assets/images/cotafer-logo-white.svg" alt=""></a>
            </div>
            <div class="flex justify-center items-center">
                <div class="flex items-center space-x-2">
                    <input class="w-96 h-full text-sm text-white bg-gray-500 placeholder-gray-200 focus:outline-none px-3 py-2" type="search" placeholder="Search...">
                    <button class="focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="#ececec">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="flex items-center space-x-2 px-4 py-2">
            <a href="/" title="Dashboard" class="group no-underline flex items-center rounded p-2 {{ 'bg-white' if params.base_module == 'home' else 'hover:bg-white' }} ">
                <i class="fab fa-amilia {{ 'text-gray-700' if params.base_module == 'home' else 'text-white group-hover:text-gray-700' }}"></i>
            </a>
            <a href="/company" title="Company" class="group no-underline flex items-center rounded p-2 {{ 'bg-white' if params.base_module == 'company' else 'hover:bg-white' }}">
                <i class="fas fa-building {{ 'text-gray-700' if params.base_module == 'company' else 'text-white group-hover:text-gray-700' }}"></i>
            </a>
            <a href="/attendance" title="Attendance" class="group no-underline flex items-center rounded p-2 {{ 'bg-white' if params.base_module == 'attendance' else 'hover:bg-white' }}">
                <i class="fas fa-calendar-check {{ 'text-gray-700' if params.base_module == 'attendance' else 'text-white group-hover:text-gray-700' }}"></i>
            </a>
            <a href="/test" title="Test" class="group no-underline flex items-center rounded p-2 {{ 'bg-white' if params.base_module == 'test' else 'hover:bg-white' }}">
                <i class="fas fa-bug {{ 'text-gray-700' if params.base_module == 'test' else 'text-white group-hover:text-gray-700' }}"></i>
            </a>
            <a href="/live" title="Live" class="group no-underline flex items-center rounded p-2 {{ 'bg-white' if params.base_module == 'live' else 'hover:bg-white' }}">
                <i class="fas fa-satellite-dish {{ 'text-gray-700' if params.base_module == 'live' else 'text-white group-hover:text-gray-700' }}"></i>
            </a>
            <a href="/roadmap" title="Roadmap" class="group no-underline flex items-center rounded p-2 {{ 'bg-white' if params.base_module == 'roadmap' else 'hover:bg-white' }}">
                <i class="fas fa-road {{ 'text-gray-700' if params.base_module == 'roadmap' else 'text-white group-hover:text-gray-700' }}"></i>
            </a>
        </div>
        <div x-data="{ isShowProfile : false, isShowNotification: false }" x-cloak class="relative flex flex-row justify-end items-center space-x-5">
            <div>
                <div @click="isShowNotification = true" class="cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                    </svg>
                </div>
                <div x-show="isShowNotification" class="absolute -top-3.5 -right-5 h-screen flex flex-col justify-between bg-white shadow-lg blur z-20" style="width: 420px;">
                    <div class="w-full flex flex-col px-6.5 pt-10">
                        <div class="flex flex-row justify-between pb-8 border-b border-gray-300">
                            <p class="font-medium text-2xxl text-gray-700 ">Notifications</p>
                            <button @click="isShowNotification = false" class="focus:outline-none">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                  </svg>
                            </button>
                        </div>
                        <div>
                            <div class="flex flex-row justify-between items-center space-x-2.5">
                                <div class="relative w-15 h-15">
                                    <img class="absolute inset-0 w-full h-full object-cover rounded-full" src="https://images.unsplash.com/photo-1535704882196-765e5fc62a53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                                </div>
                                <div class="flex-1 flex flex-row justify-between border-b border-gray-300 py-5">
                                    <div class="flex flex-col space-y-2">
                                        <div class="flex flex-row items-center space-x-2.5">
                                            <p class="font-medium text-lg">Baleze</p>
                                            <span class="text-sm">Add Project Testing</span>
                                        </div>
                                        <span class="text-sm">23-May-21 05:12 PM</span>
                                    </div>
                                    <button class="text-sm text-gray-700">Clear</button>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between items-center space-x-2.5">
                                <div class="relative w-15 h-15">
                                    <img class="absolute inset-0 w-full h-full object-cover rounded-full" src="https://images.unsplash.com/photo-1535704882196-765e5fc62a53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                                </div>
                                <div class="flex-1 flex flex-row justify-between border-b border-gray-300 py-5">
                                    <div class="flex flex-col space-y-2">
                                        <div class="flex flex-row items-center space-x-2.5">
                                            <p class="font-medium text-lg">Baleze</p>
                                            <span class="text-sm">Add Project Testing</span>
                                        </div>
                                        <span class="text-sm">23-May-21 05:12 PM</span>
                                    </div>
                                    <button class="text-sm text-gray-700">Clear</button>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between items-center space-x-2.5">
                                <div class="relative w-15 h-15">
                                    <img class="absolute inset-0 w-full h-full object-cover rounded-full" src="https://images.unsplash.com/photo-1535704882196-765e5fc62a53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                                </div>
                                <div class="flex-1 flex flex-row justify-between border-b border-gray-300 py-5">
                                    <div class="flex flex-col space-y-2">
                                        <div class="flex flex-row items-center space-x-2.5">
                                            <p class="font-medium text-lg">Baleze</p>
                                            <span class="text-sm">Add Project Testing</span>
                                        </div>
                                        <span class="text-sm">23-May-21 05:12 PM</span>
                                    </div>
                                    <button class="text-sm text-gray-700">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="w-full text-lg text-white bg-gray-700 py-4">Clear all</button>
                    </div>
                </div>
            </div>
            <div>
                <div @click="isShowProfile = true" class="flex flex-row items-center cursor-pointer space-x-2">
                    <div class="relative w-8 h-8">
                        <img class="absolute inset-0 w-full h-full object-cover rounded-full" src="https://images.unsplash.com/photo-1535704882196-765e5fc62a53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
                    </div>
                    <span class="text-white">Justin</span>
                </div>
                <ul x-show="isShowProfile" @click.away="isShowProfile = false" class="absolute top-11.5 right-0 flex flex-col z-50 bg-white border transition duration-150 ease-in-out min-w-44 shadow-lg">
                    <li><a href="/acc/account/profile"
                            class="no-underline px-4 py-2 block hover:bg-gray-700 hover:text-white">My
                            account</a></li>
                    <li><a href="/acc/account/password/change"
                            class="no-underline px-4 py-2 block hover:bg-gray-700 hover:text-white">Change
                            password</a></li>
                    <li>
                        <hr class="border-t mx-2 border-gray-200">
                    </li>
                    <li><a href="/logout"
                            class="no-underline px-4 py-2 block hover:bg-gray-700 hover:text-white">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
{% endmacro %}

{% macro footer() %}
<div class="w-full h-14 text-sm text-gray-600 flex justify-center items-center bg-white shadow-md py-4">
    <h1>Copyright © Gonoka 2020</h1>
</div>
{% endmacro %}

{% macro modalLogout() %}
<div class="fixed w-full h-full top-0 left-0 flex items-center justify-center bg-gray-700 bg-opacity-50" id="logoutModal">
    <div class="bg-white w-11/12 md:max-w-md shadow-lg z-50">
        <div class="w-full p-4 text-left flex flex-col space-y-10">
            <div class="flex items-center">
                <p class="text-xl font-bold">Log Out</p>
            </div>
            <div class="flex justify-center items-center">
                <p class="text-lg">Log out Now ?</p>
            </div>
            <div class="flex items-center justify-end space-x-3">
                <button class="w-20 py-1  bg-white text-gray-700 border border-gray-700 hover:text-white hover:bg-gray-700 focus:outline-none">Cancel</button>
                <button class="w-20 py-1 bg-gray-700 text-white border border-gray-700 focus:outline-none">Logout</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
{% macro modalDelete() %}
<div class="fixed w-full h-full top-0 left-0 flex items-center justify-center bg-gray-700 bg-opacity-50">
    <div class="bg-white w-11/12 md:max-w-md mx-auto shadow-lg z-50">
        <div class="py-4 text-left px-4 flex flex-col space-y-10">
            <div class="flex items-center">
                <p class="text-2xl font-bold">Delete</p>
            </div>
            <div class="flex flex-col items-center justify-center">
                <p class="text-lg">Do you want delete ?</p>
                <p class="text-lg">ID : 01</p>
                <p class="text-lg">Name : Brainzy</p>
            </div>
            <div class="flex items-center justify-end space-x-3">
                <button class="w-20 py-1 bg-white text-gray-700 border border-gray-700 hover:text-white hover:bg-gray-700 focus:outline-none">Cancel</button>
                <button class="w-20 py-1 bg-gray-700 text-white border border-gray-700 focus:outline-none">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}