{% extends "templates/_sidebar.html" %}

{% block bodyContent %}

<div class="w-full h-full flex flex-col">
	<div class="w-full h-10 mt-5">
		<ol class="list-reset flex text-grey-dark">
			<li><a href="/" class="text-blue font-bold">Home</a></li>
			<li><span class="mx-2">/</span></li>
			<li><a href="/document" class="text-blue font-bold">Document</a></li>
			<li><span class="mx-2">/</span></li>
			<li>Add</li>
		</ol>
	</div>
	<div id="documentAdd" class="w-full mx-auto overflow-hidden xl:w-3/4">
		<div class="bg-white flex flex-col p-5 space-y-5">
			<div class="w-full flex flex-row space-x-5">
				<div class="w-1/2">
					<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Title</label>
					<input
						v-model="title"
						:class="isTitleVal ? 'border-red-500' : ''"
						class="appearance-none block w-full bg-grey-lighter text-grey-darker border py-3 px-4"
						type="text"
						placeholder="title"
					>  
				</div>
				<div class="w-1/2">
					<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" >File Name</label>
					<input
						v-model="filename"
						:class="isFilenameVal ? 'border-red-500' : ''"
						class="appearance-none block w-full bg-grey-lighter text-grey-darker border py-3 px-4"
						type="text"
						placeholder="filename"
					>  
				</div>
			</div>
			<div class="w-full flex flex-row space-x-5">
				<div class="w-1/2">
					<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Category</label>
					<div class="relative">
						<select v-model="category" class="block appearance-none w-full bg-white border text-grey-darker py-3 px-4 pr-8">
							<option 
								v-for="cat in catOption"
								:key="cat.id"
								v-text="cat.value"
								:value="cat.id"
							></option>
						</select>
						<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
							</svg>
						</div>
					</div>
				</div>
				<div class="w-1/2">
					<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">Department</label>
					<div class="relative">
						<select v-model="department" class="block appearance-none w-full bg-white border text-grey-darker py-3 px-4 pr-8">
							<option 
								v-for="de in deOption"
								:key="de.id"
								v-text="de.value"
								:value="de.id"
							></option>
						</select>
						<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
							</svg>
						</div>
					</div>
				</div>
			</div>
			<div class="w-full flex flex-row space-x-5">
				<div class="w-1/2">
					<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">File</label>
					<input
						@change="onFileHandle"
						ref="inputPdf"
						:class="isFileVal ? 'border-red-500' : ''"
						class="appearance-none block w-full bg-grey-lighter text-grey-darker border py-3 px-4"
						type="file"
						accept="application/pdf,application/vnd.ms-excel"
					>  
				</div>
				<div class="w-1/2">

				</div>
			</div>
			<div class="w-full flex justify-end space-x-5">
				<button class="w-24 h-10 text-sm bg-white text-gray-700 border border-gray-700 hover:text-white hover:bg-gray-700 focus:outline-none">
					<a class="px-5 py-2" href="/document">Cancel</a>
				</button>
				<button @click="onSubmit" class="w-24 h-10 px-5 py-2 text-sm text-white bg-gray-700 focus:outline-none">
					Save
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}