{% extends 'templates/_baseLayout.html' %}

{% from 'templates/macro/_baseMacro.html' import sidebar, header, footer %}

        {% block wrapper %}
            <div class="h-screen flex flex-col bg-gray-100">
                {{ header() }}
                <div class="flex flex-1 overflow-hidden">
                    {{ sidebar(params) }}
                    <main id="main" class="bg-gray-100 flex-1 overflow-auto px-5">
                    {% block bodyContent %}
                    {% endblock %}
                    </main>
                </div>
            </div>
        {% endblock %}