{% extends 'templates/_baseLayout.html' %}

{% from 'templates/macro/_baseMacro.html' import sidebar %}
{% from 'templates/macro/_baseMacro.html' import header %}
{% from 'templates/macro/_baseMacro.html' import footer %}

        {% block wrapper %}
            <div class="flex h-screen bg-gray-100" x-data="{ isShowLogoutModal: false }">
                {{ sidebar(params) }}
                <div class="flex-1 flex flex-col overflow-hidden">
                    {{ header() }}
                    <main id="main" class="w-full h-full flex flex-col justify-between overflow-x-hidden overflow-y-auto bg-gray-100 scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100">
                    {% block bodyContent %}
                    {% endblock %}
                    <div class="mb-5"></div>
                    {{ footer() }}
                    </main>
                </div>
            </div>
        {% endblock %}