{% extends "templates/_sidebar.html" %}

{% block bodyContent %}

<div id="cotaferAndroid" class="w-full h-full flex flex-col">
	<div class="flex flex-row justify-between items-center my-10">
		<a href="/live/add" class="h-13 flex items-center text-white bg-gray-700 no-underline px-5">Add</a>
		<div class="flex flex-row items-center space-x-3">
			<div class="relative w-60 h-13">
				<div class="absolute top-3 right-2 border-l border-gray-300 pl-1.5 z-10">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" viewBox="0 0 1024 1024" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M256 384l256 256 256-256z"/>
					</svg>
				</div>
				<select 
					v-model="status" 
					class="block w-full appearance-none text-sm bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 p-4 focus:outline-none"
					:class="status == '0' ? 'text-gray-400' : 'text-gray-700'"
				>
					<option class="text-gray-400" value="0">Status</option>
					<option class="text-gray-700" v-for="st in stOption" v-text="st.label" value="st.value"></option>
				</select>
			</div>
			<div class="relative w-60 h-13">
				<div class="absolute top-3 right-2 border-l border-gray-300 pl-1.5 z-10">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
					</svg>
				</div>
				<input id="cotaferAndroidDate" class="block w-full appearance-none text-sm text-gray-700 bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 p-4 focus:outline-none" type="text" placeholder="Select Date">
			</div>
			<div class="h-13 flex flex-row bg-white border border-gray-200 hover:border-gray-700 focus:border-gray-700 px-3 py-2">
				<input type="text" class="h-full focus:border-gray-700 p-4 focus:outline-none" placeholder="Search...">
				<button class="h-full border-l pl-2 focus:outline-none">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
					</svg>
				</button>
			</div>
		</div>
	</div>
	<div class="w-full h-full flex flex-col justify-between mx-auto overflow-hidden">
		<div class="w-full h-full overflow-y-auto scrollbar-thin scrollbar-thumb-rounded-full scrollbar-thumb-gray-400 scrollbar-track-gray-100">
			<table class="flex-1 whitespace-no-wrap select-none">
				<thead>
					<tr class="font-bold text-sm text-left text-gray-700 bg-white uppercase">
						<th class="px-4 py-6.5"></th>
						<th class="px-4 py-6.5">Product Name</th>
						<th class="px-4 py-6.5">Category</th>
						<th class="px-4 py-6.5">Platform</th>
						<th class="px-4 py-6.5">Version</th>
						<th class="px-4 py-6.5 w-2/6">Git</th>
						<th class="px-4 py-6.5">Status</th>
					</tr>
				</thead>
				<tbody class="bg-white">
					<tr 
						v-for="(android, index) in cotaferAndroid"
						:key="android.id"
						class="text-sm text-gray-700"
						:class="{ 'bg-gray-100' : index % 2 === 0 }"
					>
						<td class="relative px-4 py-6.5 text-sm">
							<button @click="onModal(android.id)" class="focus:outline-none">
								<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
								</svg>
							</button>
							<div v-show="isShow === android.id" class="absolute top-15 left-5 bg-white border z-10">
								<div v-if="android.status == 'Stopped'">
									<button @click="onStart(android.id)" class="w-full flex flex-row space-x-5 hover:bg-gray-100 focus:outline-none px-6 py-3">
										<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
											<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
										</svg>
										<span class="text-base text-green-500">Start</span>
									</button>
								</div>
								<div v-else-if="android.status == 'Running'">
									<button @click="onStop(android.id)" class="w-full flex flex-row space-x-5 hover:bg-gray-100 focus:outline-none px-6 py-3">
										<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-red-500" viewBox="0 0 20 20" fill="currentColor">
											<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
										</svg>
										<span class="text-base text-red-500">Stop</span>
									</button>
								</div>
								<button @click="onSuspend(android.id)" class="w-full flex flex-row space-x-5 hover:bg-gray-100 focus:outline-none px-6 py-3">
									<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
										<path fill-rule="evenodd" d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd" />
									</svg>
									<span class="text-base">Suspend</span>
								</button>
								<button class="w-full flex flex-row space-x-5 hover:bg-gray-100 focus:outline-none px-6 py-3">
									<a href="/live/edit" class="no-underline w-full flex flex-row space-x-5">
										<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
											<path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
											<path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
										</svg>
										<span class="text-base">Edit</span>
									</a>
								</button>
								<button @click="onArchive(android.id)" class="w-full flex flex-row space-x-5 hover:bg-gray-100 focus:outline-none px-6 py-3">
									<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
										<path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z" />
										<path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd" />
									</svg>
									<span class="text-base">Archive</span>
								</button>
								<button @click="onDelete(android.id)" class="w-full flex flex-row space-x-5 hover:bg-gray-100 focus:outline-none px-6 py-3">
									<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
										<path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
									</svg>
									<span class="text-base">Delete</span>
								</button>
							</div>
						</td>
						<td class="px-4 py-6.5 text-sm" v-text="android.productName"></td>
						<td class="px-4 py-6.5 text-sm" v-text="android.category"></td>
						<td class="px-4 py-6.5 text-sm" v-text="android.platform"></td>
						<td class="px-4 py-6.5 text-sm" v-text="android.version"></td>
						<td class="px-4 py-6.5 text-sm" v-text="android.git"></td>
						<td class="px-4 py-6.5 text-sm" v-text="android.status" :class="{ 'text-red-500' : android.status == 'Stopped', 'text-green-500' : android.status == 'Running' }"></td>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="w-full flex justify-center items-center uppercase py-6.5 space-x-3">
			<span class="text-lg">1-10 of 100</span>
			<!-- Pagination -->
			<div class="flex">
				<ul class="flex flex-row justify-center items-center space-x-2">
					<li class="flex justify-center items-center">
						<button class="text-center hover:text-gray-700 focus:outline-none" aria-label="Previous">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
							</svg>
						</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center text-white bg-gray-700 focus:outline-none">1</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center focus:outline-none hover:text-white hover:bg-gray-700">2</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center focus:outline-none hover:text-white hover:bg-gray-700">3</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center focus:outline-none hover:text-white hover:bg-gray-700">4</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center focus:outline-none hover:text-white hover:bg-gray-700">5</button>
					</li>
					<li class="w-7 h-7">
						<button class="w-full h-full text-center focus:outline-none hover:text-white hover:bg-gray-700">6</button>
					</li>
					<li class="flex justify-center items-center">
						<button class="text-center hover:text-gray-700 focus:outline-none" aria-label="Next">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
							</svg>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div v-show="isModalDelete"
		class="fixed z-10 inset-0 overflow-y-auto"
		aria-labelledby="modal-title" role="dialog" 
		aria-modal="true"
	>
		<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
		  	<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
			<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
			<div class="inline-block align-bottom bg-white overflow-hidden transform transition-all sm:align-middle sm:max-w-md sm:w-full pt-8 pb-11 px-9">
				<div class="w-full flex flex-col justify-center items-center">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" class="w-25 h-25 text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
						</svg>
					</div>
					<h3 class="text-xl mt-2">Do you really want to delete this record?</h3>
				</div>
				<div class="flex flex-row justify-between mt-10">
					<button type="button" class="font-medium text-xl text-white select-none border bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 px-16 py-3.5">
						Yes
					</button>
					<button @click="isModalDelete = false" type="button" class="font-medium text-xl text-gray-700 select-none border bg-white hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 px-16 py-3.5">
						No
					</button>
				</div>
			</div>
		</div>
	</div>
	<div v-show="isModalStop"
		class="fixed z-10 inset-0 overflow-y-auto"
		aria-labelledby="modal-title" role="dialog" 
		aria-modal="true"
	>
		<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
		  	<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
			<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
			<div class="inline-block align-bottom bg-white overflow-hidden transform transition-all sm:align-middle sm:max-w-md sm:w-full pt-8 pb-11 px-9">
				<div class="w-full flex flex-col justify-center items-center">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" class="w-25 h-25 text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
						</svg>
					</div>
					<h3 class="text-xl mt-2">Do you really want to stop this service?</h3>
				</div>
				<div class="flex flex-row justify-between mt-10">
					<button type="button" class="font-medium text-xl text-white select-none border bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 px-16 py-3.5">
						Yes
					</button>
					<button @click="isModalStop = false" type="button" class="font-medium text-xl text-gray-700 select-none border bg-white hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 px-16 py-3.5">
						No
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}